@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="p-3 mb-2 bg-primary text-white">
    <h1 class="display-4">Bem-vindo</h1>
      <h1 class="display-4">Sistema de cadastro de produtos</h1>
</div>
</div>
